<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Example</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!--        Nitrogen-->
        <link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="/nitrogen/nitrogen.css" type="text/css" media="screen" charset="utf-8" />

		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


    </head>
    <body class="skin-black">
                [[[page:body()]]]

        <!-- Nitrogen -->
        <script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/jquery-ui.min.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/livevalidation.min.js' type='text/javascript' charset='utf-8'></script>
	    <script src='/nitrogen/bert.min.js' type='text/javascript' charset='utf-8'></script>
        <script src='/nitrogen/nitrogen.min.js' type='text/javascript' charset='utf-8'></script>
        

        <!-- Bootstrap -->
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- Bootstrap Toggle -->     
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        <script>
        [[[script]]]
        </script>
    </body>
</html>